<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="jsonroot" value="d:\stockdata\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="traderfarm" value="8eiXBWGuyVVym2P6KSQAjYTSXZ3wogE6CBiL2Jwnh5LF1UVCnZ+/KaRzjmPTGPlfGSsF2HG00jdKCKSRhXZ47/BWFSYg3HesUS3Elp5LEIc="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Server=192.168.0.170;Database=GOLD_MINER;User Id=sa;Password=sG690302!@#;Connection Timeout=30;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DefaultConnection" connectionString="Server=ok.camp;Database=TradersFarm;User Id=campers;Password=sG690302!@#;Connection Timeout=30;" providerName="System.Data.SqlClient"/>-->
    
    <add name="DefaultConnection" connectionString="server=(local)\SQLExpress;Integrated Security=SSPI;database=TradersFarm" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
